
font-size = 12px
font-face = Helvetica,Arial,sans-serif
border-radius = 5px
border-size = 1px
border-type = dotted

body
	font: font-size font-face
	border: border-size border-type border-radius
	background: white

